@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-ef-dark text-white font-sans;
  background-image: radial-gradient(circle at 50% 0%, #1e293b 0%, #0f172a 100%);
}

.glass {
  @apply bg-white/5 backdrop-blur-lg border border-white/10;
}


/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
